{
    "rules": {
        "indent": [
            2,
            4
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "no-console": "off",
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": false
    },
    "extends": "eslint:recommended"
}